<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- Common beans -->
	<bean id="clientMapper" class="com.lisasoft.wsfacade.mappers.KvpMapper" />
	<bean id="serverMapper" class="com.lisasoft.wsfacade.mappers.SoapMapper" />

	<!-- Client To Proxy beans -->
	<bean id="kvpInterpreter" class="com.lisasoft.wsfacade.interpreters.KvpInterpreter">
		<constructor-arg ref="clientMapper" />
	</bean>
	<bean id="kvpGenerator" class="com.lisasoft.wsfacade.generators.KvpGenerator">
		<constructor-arg ref="clientMapper" />
	</bean>

	<!-- Proxy to Server beans -->
	<bean id="xmlBodyInterpreter" class="com.lisasoft.wsfacade.interpreters.XmlBodyInterpreter">
		<constructor-arg ref="serverMapper" />
	</bean>
	<bean id="xmlBodyGenerator" class="com.lisasoft.wsfacade.generators.XmlBodyGenerator">
		<constructor-arg ref="serverMapper" />
	</bean>

	<!-- KVP Get to SOAP using Generic interpreters -->
	<bean id="genericKVPtoSoap" class="com.lisasoft.wsfacade.proxies.CommonProxy">
		<property name="proxyContextUrl" value="/kvp" />
		<property name="proxyManagedUrls">
			<list>
				<value>?WSDL</value>
			</list>
		</property>
		<property name="name" value="genericKVPtoSoap" />
		<property name="serviceUrl" value="http://localhost:8080/geoserver/" />
		<property name="clientRequestInterpreter" ref="kvpInterpreter" />
		<property name="clientResponseGenerator" ref="kvpGenerator" />
		<property name="serverRequestGenerator" ref="xmlBodyGenerator" />
		<property name="serverResponseInterpreter" ref="xmlBodyInterpreter" />
	</bean>
</beans>