<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<display-name>
		Web Services Facade
	</display-name>
	<description>
		A web application that can act as a proxy that interprets
		between a client and a server that communicate using different web
		service standards.
	</description>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Service -->
	<servlet>
		<description>
			Web Service Facade Entry Point
		</description>
		<display-name>WebServiceFacade</display-name>
		<servlet-name>Service</servlet-name>
		<servlet-class>
			com.lisasoft.wsfacade.Service
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>proxies/*</url-pattern>
	</servlet-mapping>
</web-app>
