<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- Common beans -->
	<bean id="kvpClientMapper" class="com.lisasoft.wsfacade.mappers.KvpMapper" />
	<bean id="soapServerMapper" class="com.lisasoft.wsfacade.mappers.SoapMapper" />
	<bean id="xmlMapper" class="com.lisasoft.wsfacade.mappers.XmlMapper" />

	<!-- Client To Proxy beans -->
	<bean id="kvpInterpreter" class="com.lisasoft.wsfacade.interpreters.KvpInterpreter">
		<constructor-arg ref="kvpClientMapper" />
	</bean>
	<bean id="kvpGenerator" class="com.lisasoft.wsfacade.generators.KvpGenerator">
		<constructor-arg ref="soapServerMapper" />
	</bean>

	<!-- Proxy to Server beans -->
	<bean id="kvpXmlBodyInterpreter" class="com.lisasoft.wsfacade.interpreters.XmlBodyInterpreter">
		<constructor-arg ref="soapServerMapper" />
	</bean>
	<bean id="xmlClientBodyGenerator" class="com.lisasoft.wsfacade.generators.XmlBodyGenerator">
		<constructor-arg ref="xmlMapper" />
	</bean>
	<bean id="xmlBodyGenerator" class="com.lisasoft.wsfacade.generators.XmlBodyGenerator">
		<constructor-arg ref="soapServerMapper" />
	</bean>

	<!-- KVP Get to SOAP using Generic interpreters -->
	<bean id="kvpToSoap" class="com.lisasoft.wsfacade.proxies.Proxy">
		<property name="proxyContextUrl" value="/kvp" />
		<property name="proxyManagedUrls">
			<map>
				<entry>
					<key>
						<value>?WSDL</value>
					</key>
					<value>xml/wfs_2_0_wsdl_template.xml</value>
				</entry>
			</map>
		</property>
		<property name="name" value="kvpToSoap" />
		<property name="serviceRequestType" value="post" />
		<property name="serviceUrl"
			value="http://services.interactive-instruments.de/xsprojects/ows9-tds/services/ltds/wfs" />
		<property name="clientRequestInterpreter" ref="kvpInterpreter" />
		<property name="clientResponseGenerator" ref="xmlClientBodyGenerator" />
		<property name="serverRequestGenerator" ref="xmlBodyGenerator" />
		<property name="serverResponseInterpreter" ref="kvpXmlBodyInterpreter" />
	</bean>

	<bean id="postXmlBodyInterpreter" class="com.lisasoft.wsfacade.interpreters.XmlBodyInterpreter">
		<constructor-arg ref="xmlMapper" />
	</bean>

	<!-- XML POST to SOAP using Generic interpreters -->
	<bean id="xmlToSoap" class="com.lisasoft.wsfacade.proxies.Proxy">
		<property name="proxyContextUrl" value="/postXML" />
		<property name="proxyManagedUrls">
			<map>
				<entry>
					<key>
						<value>?WSDL</value>
					</key>
					<value>xml/wfs_2_0_wsdl_template.xml</value>
				</entry>
			</map>
		</property>
		<property name="name" value="xmlToSoap" />
		<property name="serviceRequestType" value="post" />
		<property name="serviceUrl"
			value="http://services.interactive-instruments.de/xsprojects/ows9-tds/services/ltds/wfs" />
		<property name="clientRequestInterpreter" ref="postXmlBodyInterpreter" />
		<property name="clientResponseGenerator" ref="xmlClientBodyGenerator" />
		<property name="serverRequestGenerator" ref="xmlBodyGenerator" />
		<property name="serverResponseInterpreter" ref="kvpXmlBodyInterpreter" />
	</bean>
</beans>