<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- Common beans -->
	<bean id="wmtsClientMapper" class="com.lisasoft.wsfacade.wmts.mappers.WmtsSoapMapper" />
	<bean id="wmtsServerMapper" class="com.lisasoft.wsfacade.wmts.mappers.WmtsRestMapper" />

	<!-- WMTS local Proxy -->
	<bean id="xmlBodyInterpreter" class="com.lisasoft.wsfacade.interpreters.XmlBodyInterpreter">
		<constructor-arg ref="wmtsClientMapper" />
	</bean>
	<bean id="xmlBodyGenerator" class="com.lisasoft.wsfacade.generators.XmlBodyGenerator">
		<constructor-arg ref="wmtsClientMapper" />
	</bean>
	<bean id="restGenerator" class="com.lisasoft.wsfacade.generators.RestGenerator">
		<constructor-arg ref="wmtsServerMapper" />
	</bean>
	<bean id="restInterpreter" class="com.lisasoft.wsfacade.interpreters.RestInterpreter">
		<constructor-arg ref="wmtsServerMapper" />
	</bean>

	<bean id="wmtsLocal" class="com.lisasoft.wsfacade.proxies.Proxy">
		<property name="proxyContextUrl" value="/wmts" />
		<property name="proxyManagedUrls">
			<map>
				<entry>
					<key>
						<value>?WSDL</value>
					</key>
					<value>xml/wmts_wsdl_template.xml</value>
				</entry>
			</map>
		</property>
		<property name="name" value="wmtsLocal" />
		<property name="serviceRequestType" value="post" />
		<property name="serviceUrl" value="http://localhost/tilecache/tilecache.py/" />
		<property name="clientRequestInterpreter" ref="xmlBodyInterpreter" />
		<property name="clientResponseGenerator" ref="xmlBodyGenerator" />
		<property name="serverRequestGenerator" ref="restGenerator" />
		<property name="serverResponseInterpreter" ref="restInterpreter" />
	</bean>

	<!-- WMTS Landgate Proxy -->
	<bean id="wmtsLandgate" class="com.lisasoft.wsfacade.proxies.Proxy">
		<property name="proxyContextUrl" value="/landgate" />
		<property name="proxyManagedUrls">
			<map>
				<entry>
					<key>
						<value>?WSDL</value>
					</key>
					<value>xml/wmts_wsdl_template.xml</value>
				</entry>
			</map>
		</property>
		<property name="name" value="wmtsLocal" />
		<property name="serviceRequestType" value="post" />
		<property name="serviceUrl"
			value="http://beta.landgate.wa.gov.au/tilecache2/wmts.py/" />
		<property name="clientRequestInterpreter" ref="xmlBodyInterpreter" />
		<property name="clientResponseGenerator" ref="xmlBodyGenerator" />
		<property name="serverRequestGenerator" ref="restGenerator" />
		<property name="serverResponseInterpreter" ref="restInterpreter" />
	</bean>

	<!-- WMTS uab Proxy -->
	<bean id="wmtsUAB" class="com.lisasoft.wsfacade.proxies.Proxy">
		<property name="proxyContextUrl" value="/uab" />
		<property name="proxyManagedUrls">
			<map>
				<entry>
					<key>
						<value>?WSDL</value>
					</key>
					<value>xml/wmts_wsdl_template.xml</value>
				</entry>
			</map>
		</property>
		<property name="name" value="wmtsLocal" />
		<property name="serviceRequestType" value="post" />
		<property name="serviceUrl" value="http://www.opengis.uab.es/SITiled/world/" />
		<property name="clientRequestInterpreter" ref="xmlBodyInterpreter" />
		<property name="clientResponseGenerator" ref="xmlBodyGenerator" />
		<property name="serverRequestGenerator" ref="restGenerator" />
		<property name="serverResponseInterpreter" ref="restInterpreter" />
	</bean>
</beans>